body
{
    font-size:12px;
}

.SWCGSF_DIV_MAIN
{
    
}

.SWCGSF_DIV_MAIN table
{
    background-color:#cfe5f8;
    width:100%;
}
.SWCGSF_DIV_MAIN table tr
{
    padding:3px 5px 3px 5px;
}

.SWCGSF_TABLE_d
{
    
}


.SWCGSF_DIV_MAIN table .SWCGSF_TR_1 td
{
    background-color:#f5fbfe;
}


.SWCGSF_DIV_MAIN table tr th
{
    height:23px;
    line-height:23px;
    background-color:#fff;
    background-image:url(http://f.xgou.com/AtGang/UI_C/images_css/h_bg.gif); 
    background-position:bottom 50%;
    background-repeat:repeat-x;
    color:#043260;
    font-size:12px;
    white-space:normal;
}
.SWCGSF_DIV_MAIN table tr td
{
    height:1.6em;
    line-height:1.6em;
    background-color:#fff;
    word-break:break-all;
    overflow:hidden;
}

.SWCGSF_DIV_FOOT_NAV
{
    border-left:solid 1px #cfe5f8;
    border-bottom:solid 1px #cfe5f8;
    border-right:solid 1px #cfe5f8;
    background-color:#fff;
    margin-bottom:20px;
}
.SWCGSF_DIV_FOOT_NAV a
{
    margin-left:10px;
    
}