

.SWW_CSS_W_Dialog
{
    overflow:scroll;
}

.SWW_CSS_W_Dialog_Box_Over
{
    background-color:#CCC;
    z-index:999;
    position:absolute;
}

.SWW_CSS_W_Dialog_Box_Back
{
   background-color:#999;
}
.SWW_CSS_W_Dialog_Box
{
    background-color:#fff;
   
    border-top:1px #999 solid;
    border-left:1px #999 solid;
}

.SWW_CSS_W_Dialog_Title
{
    background-color:#0066cc;
    height:30px;
    line-height:30px;
    width:100%;
    border-bottom:solid 1px #999;
     text-align:right;
     text-indent:10px;
     cursor:move;
}

.SWW_CSS_W_Dialog_Title_Left
{
     text-align:left;
     float:left;
     background-color:#003366;
     font-weight:bold;
     color:#fff;
          
}

.SWW_CSS_W_Dialog_Title_Right
{
    margin:0px;
    width:30px;
    height:30px;
    
    cursor:pointer;
    background-image:url(http://f.xgou.com/AtGang/UI_C/images/close_widget.gif);
    background-repeat:no-repeat;
    background-position:center center;
}

.SWW_CSS_W_Dialog_Content
{
   
     overflow:auto;
}