
/**通用****************************************************************************************************/

/*背景*/
body
{
    margin:0px;
    padding:0px;
    background-color:#e8f1f8;
    font-size:12px;
    line-height:20px;
}
div
{
    margin:0px;
    padding:0px;
    width:100%;
}

a
{
    color:#014982;
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
}

ul
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}


/*高度定义*/
.srsheight20px
{
    min-height:20px;
}



/**admin布局*****************************************************************************************************/

/*背景层*/
.srdadminbody
{
    width:98%;
    border:solid 1px #a3c7e2;
}


.srdadminnav
{
    background-image:url(sradmin/sradmintool.gif);
    height:25px;
    text-indent:10px;
    line-height:25px;
}



/**常用布局*************************************************************************************************************/
.sriadmininput
{
    border:solid 1px #014982;
}

.sruclass
{
    margin:0px;
    padding:0px;
    margin:10px;
}
.sruclass li
{
    float:left;
    min-width:10%;
    margin-left:1%;
}
.sruclass li a
{
    color:#000000;
    
}

/*类别*/
.srdmenuformshow
{
    margin:10px 0px 0px 10px;

}

.srdeditlist
{
    width:100%;
    line-height:25px;
}
.srdeditlistshow
{
    border-bottom:dashed 1px #999999;
    min-height:25px;
    margin-top:3px;
}
.srdeditlistL
{
    float:left;
    width:70px;
    text-indent:5px;
}
.srdeditlistR
{
    float:right;
    width:700px;
}
