
/**全局通配**************************************************************/

html
{
   
}

body 
{
    margin:0px;
    padding:0px;
    background-position:center;
    background-color:#e8f1f8;
}

div
{
    background-repeat:no-repeat;
    background-position:center;
    margin:0px;
    font-size:12px;
    line-height:20px;
}




/**主页面专用********************************************************/
/*透明填充背景*/
.srdmainfilter
{
    opacity: 0.60;
    filter : progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=60,finishOpacity=100);
    width:100%;
    height:100%;
    position:absolute;
    background-color:#CCCCCC;
    z-index:999;
    display:none;
}

/**布局****************************************************************/


/*顶部*/
.srdmaintop
{
    background-image:url(sradmin/srmaintopbg.gif);
    height:129px;
    background-repeat:repeat-x;
}


/*底部*/
.srdmainbottom
{
    border: #a3c7e2 1px solid;
    height:25px;
    font-size:11px;
    color:#999999;
    text-indent:20px;
}


/**顶部************************************************************************/
/*顶部中间logo*/
.srdmaintopcenter
{
    background-image:url(sradmin/srmaintopcenter.gif);
    height:90px;
}

/*顶部中间菜单*/
.srumaintop
{
    margin-top:5px;
    margin-left:15%;
}
.srumaintop li
{
    float:left;
    position:relative;
    list-style:none;
}
.srumaintop li a
{
    display: block;
    text-align: center;
    width: 80px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 12px;
}
.srumaintop li a:hover
{
    background-image: url(sradmin/srmaintophover.gif);
    border: white thin dotted;
}


/**中部****************************************************************************/
/*中部设置工具栏*/
.srdmainoption
{
    background-image: url(sradmin/srmainoption.gif);
    height:26px;
    background-repeat:repeat-x;
    border-bottom:solid 1px #FFFFFF;
    border-top:solid 1px #000000;
}

/*欢迎语*/
.srsmainwelcome
{
    width:200px;
    text-indent:10px;
    float:left;
    line-height:25px;
}
/*工具栏*/
.srdmaintool
{
    float:left;
}
.srdmaintool ul
{
    margin:0px;
    padding:0px;
    
}
.srdmaintool ul li
{
    float:left;
    width:80px;
    margin-top:2px;
    height:22px;
    margin-right:10px;
    
    
}
.srdmaintool ul li a
{
    border:solid 1px #a3c7e2;
    display:block;
    width:100%;
    background-repeat:no-repeat;
    background-position:10px center;
    text-indent:35px;
    color:#000000;
    text-decoration:none;
    line-height:20px;
    vertical-align:bottom;
    letter-spacing:5px;
}
.srdmaintool ul li a:hover
{
    border:solid 1px #000000;
}
/*帮助栏*/
.srdmainhelp
{
    width:3%;
    float:right;
    background-image:url(sricon/srhelp.gif);
    background-position:center;
    height:26px;
}




/*左边*/
.srdmainleft
{
    
    width:195px;
    text-align:center;
}
/*左右分割*/
.srdmainhidden
{
    width:5px;
}





/*左边导航相关*********************************************/
.srdmainclass
{
    border: #a3c7e2 1px solid;
    width:95%;
}


.srdmainclass div
{
    clear:both;
    height:22px;
    border-bottom: #a3c7e2 1px solid;
    border-top: #a3c7e2 1px solid;
    cursor:pointer;
    text-align:center;
    line-height:22px;
    vertical-align:middle;
}
.srdmainclass div a
{
    background-image:url(sradmin/srmainleftbg1.gif);
    display:block;
    width:100%;
    text-decoration: none;
    color:Black; 
}

.srdmainclass div a:hover
{
    background-image:url(sradmin/srmainleftbg2.gif);
    display:block;
    width:100%;
}
.srdmainclass div a:active
{
    background-image:url(sradmin/srmainleftbg2.gif);
    display:block;
    width:100%;
}
.srdmainclass ul
{
    line-height:20px;
    list-style-type:none;
    margin:0px;
    padding:0px;
    padding-bottom:1px;
}
.srdmainclass ul li
{
    line-height:25px;
    height:25px;
    text-align:left;
    
}
.srdmainclass ul li a
{

    display:block;
    width:100%;
    text-decoration: none;
    color:Black;
    text-indent:25px;
    background-image:url(sradmin/classnav.gif);
    background-repeat:no-repeat;
    background-position:5px center;
}
.srdmainclass ul li a:hover
{

    background-color:#c4d8ea;
    display:block;
    width:100%;
}
.srdmainclass ul li a:active
{

    background-color:#aec9e2;
    display:block;
    width:100%;
}



.srdmaincenter
{
    
   
}




/*通用表格*******************************************/



.srdmaintable
{
    
}

.srdmaintable table
{
    background-color:#cfe5f8;
    width:100%;
}
.srdmaintable table tr
{
    padding:3px 5px 3px 5px;
}

.srdmaintable table tr th
{
    height:23px;
    line-height:23px;
    background-color:#fff;
    background-position:bottom 50%;
    background-repeat:repeat-x;
    color:#043260;
    font-size:12px;
    white-space:normal;
}
.srdmaintable table tr td
{
    height:1.6em;
    line-height:1.6em;
    background-color:#f5fbfe;
    overflow:hidden;
}
.srdmaintable table tr .srtmaintdl
{
    text-align:right;
    padding-right:10px;
}
.srdmaintable table tr .srtmaintdr
{
    text-align:left;
    padding-left:10px;
}





/**底部************************************************************************/

/*首页底部*/

.srdmainbottomleft
{
    float:left;
    width:50%;
}
.srdmainbottomright
{
    float:left;
    width:45%;
    line-height:24px;
    text-align:right;
}








/**提示**********************************/
.srdmainmessage
{
   margin:20px;
   border:solid 1px #ccc;
}

.srdmainmessage .srdmainmessagetitle
{
    background-color:#fcfeda;
    text-align:right;
    padding-right:10px;
}

.srdmainmessage .srdmainmessagecontent
{
      background-color:#fcfeda;
    padding:10px;
    text-indent:15px;
    font-size:16px;
    font-weight:bold;
    
    color:#999;
}




/**按钮*******************************************/

.srsmainbutton input
{
      border:solid 1px #999;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:10px center;
    text-indent:20px;
    cursor:pointer;
}

.srsmainbuttonnext input
{
    background-image:url(sradmin/buttonnext.gif);
  
}



/**icon图标**********************************************************************/
/*添加*/
.srdmainiconadd
{
    background-image:url(sricon/sradd.gif);
}
/*修改*/
.srdmainiconupd
{
    background-image:url(sricon/srupd.gif);
}
/*删除*/
.srdmainicondel
{
    background-image:url(sricon/srdel.gif);
}
/*返回*/
.srdmainiconback
{
    background-image:url(sricon/srback.gif);
}
/*搜索*/
.srdmainiconserch
{
    background-image:url(sricon/srserch.gif);
}
/*设置*/
.srdmainiconset
{
    background-image:url(sricon/srset.gif);
}
/*提交*/
.srdmainiconsub
{
    background-image:url(sricon/srset.gif);
}